<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<a class="navbar-brand d-flex justify-content-center" style="font-size: x-large; font-weight: bold; background-color: white; width: 100%; height: 10 px;">
    PhoneMax Admin Panel
</a>
  </nav>
</header>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 ">
                <h2 class="text-center">Add a new Banner</h2>
                <form action="/admin/addBanner" method="POST" enctype="multipart/form-data">
                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
