{{!-- <html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        background: rgba(21, 21, 21, 1);
      }
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #fafbfc;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: rgba(21, 21, 21, 1);
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px rgba(21, 21, 21, 1);
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      </div>
    </body>
</html> --}}



<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
  <style>
    body {
      text-align: center;
      background: rgba(21, 21, 21, 1);
    }
    h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #fafbfc;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
    i {
      color: #9ABC66;
      font-size: 100px;
      line-height: 200px;
      margin-left:-15px;
    }
    .card {
      background: rgba(21, 21, 21, 1);
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px rgba(21, 21, 21, 1);
      display: inline-block;
      margin: 0 auto;
    }
    .button {
      margin-top: 20px;
      padding: 10px 20px;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size: 16px;
      color: #fff;
      background-color: #88B04B;
      border-radius: 4px;
      text-decoration: none;
    }
  </style>
  <body>
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1>Success</h1>
      <p>Your order has been succesfully placed<br/> we'll be in touch shortly!</p>
      <a class="button" href="/orders">View Your Orders</a>
    </div>
  </body>
</html>
